CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.idea
*.cbp

corrupted/corrupted
missing-return-statement/missing-return-statement
_M_realloc_insert/_M_realloc_insert
__cxa_pure_virtual/__cxa_pure_virtual
__run_exit_handlers/__run_exit_handlers
__cxa_finalize/__cxa_finalize
__cxa_finalize/libdl1.a
__cxa_finalize/libdl2.so
__cxa_finalize/libdl3.so
corrupted/libdl4.so
