CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.idea
*.cbp

destructed-twice/a/liba.dylib
destructed-twice/agent/libagent.a
destructed-twice/app/app
destructed-twice/b/libb.dylib
destructed-twice/lib/liblib.dylib
destructed-twice/a/liba.so
destructed-twice/b/libb.so
destructed-twice/lib/liblib.so
__cxa_pure_virtual/__cxa_pure_virtual-constructor
__cxa_pure_virtual/__cxa_pure_virtual-deleted
__cxa_pure_virtual/__cxa_pure_virtual-destructor
terminate/terminate-thread
terminate/terminate-throw
terminate/terminate-thread-detach
corrupted/corrupted-gloop
corrupted/corrupted-pthread
corrupted/libdl-gloop.so
corrupted/libdl-pthread.so
